<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ucai.jkbd">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ExamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="驾考宝典"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RandomTest"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>